In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Todo es un objeto

In [2]:
anint = 1024 # An integer Python object
afloa = 1024.2 # A float object
astri = "A string object" # A string
alist = [1,2] # A list object
print "anint is of "+ str(type(anint))+" and has value "+str(anint)+"."
print "afloa is of "+ str(type(afloa))+" and has value "+str(afloa)+"."
print "astri is of "+ str(type(astri))+" and has value "+str(astri)+"."
print "alist is of "+ str(type(alist))+" and has value "+str(alist)+"."

anint is of <type 'int'> and has value 1024.
afloa is of <type 'float'> and has value 1024.2.
astri is of <type 'str'> and has value A string object.
alist is of <type 'list'> and has value [1, 2].

## Operaciones Aritméticas

In [3]:
# Doing arithmetic
print "# Addition: "+"1+1=" + str(1+1)
print "# Multiplication: "+"1*2=" + str(1*2)
print "# Division: "+"1/2=" + str(1/2) # This is to show caution when manipulating floats
print "# Division: "+"1/2=" + str(1./2)
print "# Division: "+"1/2=" + str(1/2.)
print "# Exponentiation: "+"2^10=" + str(2**10)
# Para ejecutar la siguiente línea es necesario tener numpy
# print "Function evaluation: "+"sin(pi/2)=" + str(sin(pi/2))
print "# Modular division:"
for i in range(20):
    print "  "+str(i)+"%11="+str(i%11)

# Addition: 1+1=2
# Multiplication: 1*2=2
# Division: 1/2=0
# Division: 1/2=0.5
# Division: 1/2=0.5
# Exponentiation: 2^10=1024
# Modular division:
  0%11=0
  1%11=1
  2%11=2
  3%11=3
  4%11=4
  5%11=5
  6%11=6
  7%11=7
  8%11=8
  9%11=9
  10%11=10
  11%11=0
  12%11=1
  13%11=2
  14%11=3
  15%11=4
  16%11=5
  17%11=6
  18%11=7
  19%11=8

## Strings

In [4]:
x = "Hello"
print x

Hello

In [5]:
# Characters in a string can be accesed as if it were a list
x[-1]+x[-2]+x[1]

'ole'

In [6]:
# Use a comma at the end of string to avoid a newline
print "1 -"
print "2 -"
print "3"
print "**VS**"
print "1 -",
print "2 -",
print "3"

1 -
2 -
3
**VS**
1 - 2 - 3

In [7]:
# Concatenate strings by "adding" them
print "Hello " + "World"

Hello World

In [8]:
# Use asterisk to print a string several times
print " Hello World" * 10

 Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World

In [9]:
# String manipulation
first="uno"
second="dos"
third="tres"
print first, second, third
print first + ", " + second + ", " + third
# Cannot mix strings and integers in print, must convert numbers to strings
print first + ": " + str(1)

uno dos tres
uno, dos, tres
uno: 1

In [10]:
# El código ASCII
print "#"*30+" The ASCII table "+"#"*30+"\n"
for i in range(33,128):
    if i<100:
        pad=" "
    else:
        pad=""
    print pad+str(i),
    print "--->",
    if i%7==4:
        print chr(i)
    else:
        print chr(i),
print "\n\n"+"#"*77

############################## The ASCII table ##############################

 33 ---> !  34 ---> "  35 ---> #  36 ---> $  37 ---> %  38 ---> &  39 ---> '
 40 ---> (  41 ---> )  42 ---> *  43 ---> +  44 ---> ,  45 ---> -  46 ---> .
 47 ---> /  48 ---> 0  49 ---> 1  50 ---> 2  51 ---> 3  52 ---> 4  53 ---> 5
 54 ---> 6  55 ---> 7  56 ---> 8  57 ---> 9  58 ---> :  59 ---> ;  60 ---> <
 61 ---> =  62 ---> >  63 ---> ?  64 ---> @  65 ---> A  66 ---> B  67 ---> C
 68 ---> D  69 ---> E  70 ---> F  71 ---> G  72 ---> H  73 ---> I  74 ---> J
 75 ---> K  76 ---> L  77 ---> M  78 ---> N  79 ---> O  80 ---> P  81 ---> Q
 82 ---> R  83 ---> S  84 ---> T  85 ---> U  86 ---> V  87 ---> W  88 ---> X
 89 ---> Y  90 ---> Z  91 ---> [  92 ---> \  93 ---> ]  94 ---> ^  95 ---> _
 96 ---> `  97 ---> a  98 ---> b  99 ---> c 100 ---> d 101 ---> e 102 ---> f
103 ---> g 104 ---> h 105 ---> i 106 ---> j 107 ---> k 108 ---> l 109 ---> m
110 ---> n 111 ---> o 112 ---> p 113 ---> q 114 ---> r 115 ---> s 116 ---> t
117 ---> u 118 ---> v 119 ---> w 120 ---> x 121 ---> y 122 ---> z 123 ---> {
124 ---> | 125 ---> } 126 ---> ~ 127 ---> 

#############################################################################

In [11]:
# Un poquito de criptografía
mensaje="Vamos a aprender Python!"
encrypted=""
for i in mensaje:
    # Tomar el código ASCII de cada caracter y sumarle uno
    encrypted+=chr(ord(i)+1)
print "DECODED: "+mensaje
print "ENCODED: "+encrypted

DECODED: Vamos a aprender Python!
ENCODED: Wbnpt!b!bqsfoefs!Qzuipo"

## Augmenting Python

In [12]:
# Importar todo numpy como numpy
pii=3.141592653589793238465265
import numpy
print numpy.sin(pii/2)
# Importarlo todo con un alias
import numpy as np
print np.sin(pii/2)
# Importarlo todo y mezclar los namespace
from numpy import *
print sin(pii/2)
# Importar solo una función
from numpy import cos
print cos(pii)

1.0
1.0
1.0
-1.0

In [15]:
# Adding local OS functionalities
import os
phrase = raw_input("What you wanna say? ")
os.system("say " + phrase)

What you wanna say?

32512

## ¿Cómo solicitar información al usuario?

In [1]:
x = raw_input("¿En qué año estamos? ")

¿En qué año estamos? 123

In [2]:
print x

123

In [3]:
# raw_input produce cadenas de caracteres
# convertir al tipo deseado de ser necesario
int(x) + 988

1111

In [4]:
# Asking the user for input
var = raw_input("What is your name? ")
print "Your name is "+var+"."
melike = raw_input("Do you like Python?(y/n)")
if melike == "y":
    print "Excellent, me too!"
elif melike == "n":
    print "Oh, too bad."
else:
    print "What's that?"

What is your name? Jaime
Your name is Jaime.
Do you like Python?(y/n)n
Oh, too bad.

## Comentarios

In [5]:
# Comments are preceded by hastag (#)
for i in range(5):
    print i
for i in range(5):
    print i, # Everytime print is invoked a newline is drawn, append a comma
             # at the end to prevent this

0
1
2
3
4
0 1 2 3 4

## Expresiones lógicas

In [6]:
1 == 1 # Dos signos igual para decidir si dos objetos son iguales

True

In [7]:
2 == 1

False

In [8]:
# AND Truth table
# And, only true when both expressions are true
print True and True
print True and False
print False and True
print False and False

True
False
False
False

In [9]:
# OR Truth table
# OR, true when at least one of the conditions is met.
print True or True
print True or False
print False or True
print False or False

True
True
True
False

In [10]:
# En algunos casos el uso de paréntesis se vuelve necesario
print True or False and False
print (True or False) and False
print "Boolean Operator Priority in Python (highest to lowest):"
print "p == q, p != q, not p, p and q, p or q"

True
False
Boolean Operator Priority in Python (highest to lowest):
p == q, p != q, not p, p and q, p or q

In [11]:
print "Operator precedence in Python"
from IPython.display import HTML
HTML('<iframe src=https://docs.python.org/2.7/reference/expressions.html#operator-precedence width=500 height=350></iframe>')

Operator precedence in Python

In [12]:
print "A few examples of numerical comparisons in Python\n"
# Sequential inequalities are interpreted as in conventional
# mathematics
print "Testing the logical evaluation of inequalities...."
print 1 < 2 < 3
print 2 <= 1
print 2 >= 1
# Intelligent comparison of ints and floats
print "Testing the intelligent comparison of ints and floats...."
print 1. == 1
# Not equal !=
print "Testing the not logical operator...."
print 2 != 1

A few examples of numerical comparisons in Python

Testing the logical evaluation of inequalities....
True
False
True
Testing the intelligent comparison of ints and floats....
True
Testing the not logical operator....
True

## If, else y elif

In [13]:
x = 9
if x <= 10:
    print "x es menor o igual a 10"
x = 11
if x > 10:
    print "x es mayor a 10"

x es menor o igual a 10
x es mayor a 10

In [14]:
# The else statement is executed in case the condition in if is false
x = 1
if x < 1:
    print "x es menor a 1"
else:
    print "x es mayor o igual a 1"

x es mayor o igual a 1

In [15]:
# Conditions are evaluated one after the other and only the statement of the first true one is evaluated
for i in range(12):
    if i%3==0:
        print "cero",
    elif i%3==1:
        print "uno",
    elif i%3==2:
        print "dos"
    elif i==1:
        print "this never goes"

cero uno dos
cero uno dos
cero uno dos
cero uno dos

## While

In [49]:
# Indentation is essential
j = 1
while ( j <= 10 ):
    j = j + 1 
    print j

2
3
4
5
6
7
8
9
10
11

In [50]:
# Indentation is essential
j = 1
while ( j <= 10 ):
    j = j + 1 
print j

11

In [51]:
# I also know how to do while loops
j = 1
while ( j <= 10 ):
    print j,
    j = j + 1

1 2 3 4 5 6 7 8 9 10

# for

In [52]:
for i in range(1,10):
    thesquare = i**2
    print str(i)+"^2="+str(thesquare)

1^2=1
2^2=4
3^2=9
4^2=16
5^2=25
6^2=36
7^2=49
8^2=64
9^2=81

In [54]:
inverted=""
for s in "Juan David Lizarazo":
    inverted = s + inverted
print inverted

ozaraziL divaD nauJ

In [55]:
lista=["casa","perro","árbol","merienda"]
for element in lista:
    print "elemento: "+element

elemento: casa
elemento: perro
elemento: árbol
elemento: merienda

## Listas

In [56]:
lista = range(100)
print lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [57]:
lista2 = lista[0:99:2]
print lista2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [58]:
# Listas
print "*"*15+"1"+"*"*15
# Define a list and print it
thelist = range(10) 
print thelist

print "*"*15+"2"+"*"*15
# Define a list by stating its elements and then print it
thelist = [2, 6, 3, 3, 6, 2, 0]
print thelist[0] # The first element's index is 0
print thelist[6] # The last element's index is the lenght of the array - 1
# One can invoke the length of a list with the function len
print "The length of the list is "+ str(len(thelist)) + "."
print thelist

print "*"*15+"3"+"*"*15
# This to show how to change elements in an array
thelist[0] = 1 # The index goes in square brackets
print thelist

print "*"*15+"3"+"*"*15
# If two lists are made equal to one another, they 
# remain the same thing when either is changed
thelist2 = thelist               
print thelist2
thelist2[0] = 9 # I change one element in thelist2
print thelist2
print thelist   # It is also changed in thelist
thelist[0] = 1 # I change one element in thelist
print thelist
print thelist2 # It is also changed in thelist2

***************1***************
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
***************2***************
2
0
The length of the list is 7.
[2, 6, 3, 3, 6, 2, 0]
***************3***************
[1, 6, 3, 3, 6, 2, 0]
***************3***************
[1, 6, 3, 3, 6, 2, 0]
[9, 6, 3, 3, 6, 2, 0]
[9, 6, 3, 3, 6, 2, 0]
[1, 6, 3, 3, 6, 2, 0]
[1, 6, 3, 3, 6, 2, 0]

In [60]:
range(100)[1:10:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
range(1,10)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
# List comprehension
x = []
for i in range(10):
    x.append(i**2)
print x
# Is equivalent to
x = [i**2 for i in range(10) ]
print x

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
# A nice example thanks to www.secnetix.de/olli/Python
noprimes = [j for i in range(2, 8) for j in range(i*2, 50, i)]
primes = [x for x in range(2, 50) if x not in noprimes]
print primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [64]:
# Lists within lists
mat=[[1,2],[3,2]]
print mat
# What follows prints all the elements in the nested list in a format resembling matrices
for j in mat:
    for k in j:
        print k,
    print ""

[[1, 2], [3, 2]]
1 2
3 2